/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
  display: block;
}

body{
  overflow-y: hidden;
}

/* MAIN */
main{
  background-color: #1e2d3b;
  height: 100vh;
}

/* container */
main .container{
  width: 80%;
  margin: 0px auto;
  padding: 80px 0;
}

main h1{
  padding: 15px 15px 35px;
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Quicksand', sans-serif;  
  text-align: center;
  text-transform: uppercase;
}

main .container .row{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

main .container .row .col{
  width: calc((100% / 5) - 30px);
  background-color: #2d3a46;
  margin: 15px;
}

.card-content{
  background-color: #2d3a46;
  padding: 15px 15px 35px;
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Quicksand', sans-serif;    
}

.card-content img{
  margin: 0 auto;
  height: 350px;
}

.card-content .text-tile{
  padding-top: 20px;
  text-align: center;
  display: block;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.1;
  font-size: 22px;
}

.card-content .cont-subtitle{
  padding-top: 10px;
}

.card-content .cont-subtitle .subtitle{
  text-align: center;
  display: block;
  font-size: 18px;
  color: #6d7175;
  padding-block: 2px; 
}